html {
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  background-image: url(assets/background2.jpg);
  background-size: cover;
}

@media screen and (max-width: 426px) {
  html {
    background-size: contain;
  }
}
